@mixin flexColumn() {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
}

@mixin displayGridColumn($input) {
    display: grid !important;
    grid-template-columns:repeat($input,1fr);
}

@mixin media-md {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width:1200px) {
        @content;
    }
}